<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/navbar::navigation}">...</div>
    <h2>Update user: </h2><hr>
    <form action="/users/update" method="POST">
        <label>id: </label>
        <label th:text="${user.id}"></label><br>
        <input type="hidden" name="id" th:value="${user.id}">
        <label>email: </label>
        <input type="text" name="email" style="margin-left:32px; width:133px" th:value="${user.email}"><br>
        <label>password: </label>
        <input type="text" name="password" style="margin-left:32px; width:133px" th:value="${user.password}"><br>
        <label>first name: </label>
        <input type="text" name="firstName" style="margin-left:32px; width:133px" th:value="${user.firstName}"><br>
        <label>last name: </label>
        <input type="text" name="lastName" style="margin-left:32px; width:133px" th:value="${user.lastName}"><br>
        <label>role: </label>
        <select name="roleId"  style="margin-left:10px; width:140px">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
        </select>
        <button type="submit">Save user</button><br>
    </form>`
</body>
</html>