<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producers</title>
</head>
<body>
    <div th:switch="${producers}">
        <h2 th:case="null">There is no producers!</h2>
        <div th:case="*">
            <h2>Producers</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producer : ${producers}">
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/producers/create">Add a new producer</a></p>
    </div>
</body>
</html>

