<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
    <div th:switch="${products}">
        <h2 th:case="null">There is no products!</h2>
        <div th:case="*">
            <h2>Products</h2>
            <table style="text-align: center" border="1" width="20%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                        <th>producer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.producer}"></td>
                        <td>
                            <button th:edit-url="@{/products/update(id=${product.id})}"
                                    onclick="window.open(this.getAttribute('edit-url'))">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button th:del-url="@{/products/delete(id=${product.id})}"
                                    onclick="window.open(this.getAttribute('del-url'))">
                                Delete
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div><br>
        <form action="/products" method="POST">
            <label>New product name: </label>
            <input type="text" name="name"><br>
            <label>price: </label>
            <input type="number" name="price" step="0.01" min="0"  max="9999999999" style="margin-left:90px; width:140px">
            <button type="submit">Add product</button><br>
            <select name="producer" style="width:140px; margin-left:80px">
                <option value="0">select option</option>
                <option th:each="producer : ${producers}" th:value="${producer}" th:text="${producer}"></option>
            </select>
        </form>
    </div>
</body>
</html>