<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
    <div th:switch="${products}">
        <h2 th:case="null">There is no products!</h2>
        <div th:case="*">
            <h2>Products</h2>
            <table style="text-align: center" border="1" width="20%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <a th:href="@{/products/update(id=${product.id})}">Edit</a>
                        </td>
                        <td>
                            <button onclick="window.location.href = 'https://w3docs.com';">Delete</button>
                            <a th:href="@{/products/delete(id=${product.id})}">Delete</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <form action="/products" method="POST">
            <label>New product name: </label>
            <input type="text" name="name"><br>
            <label>price: </label>
            <input type="number" name="price" style="margin-left: 90px;width:130px">
            <button type="submit">Add product</button><br>
        </form>
    </div>
</body>
</html>