<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{fragments/navbar::navigation}">...</div>
    <div th:switch="${products}">
        <h2 th:case="null">There is no products!</h2>
        <div th:case="*">
            <h2>Products</h2><hr>
            <form action="/products/add" method="GET">
                <button type="submit">Add new product</button><br>
            </form>
            <table style="text-align: center" border="1" width="20%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                        <th>producer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.producer.name}"></td>
                        <td>
                            <button th:edit-url="@{/products/update(id=${product.id})}"
                                    onclick="window.open(this.getAttribute('edit-url'))">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button th:del-url="@{/products/delete(id=${product.id})}"
                                    onclick="window.open(this.getAttribute('del-url'))">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><br>
    </div>
</body>
</html>