<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/navbar::navigation}">...</div>
    <div th:switch="${producers}">
        <h2 th:case="null">There is no producers!</h2>
        <div th:case="*">
            <h2>Producers</h2><hr>
            <form sec:authorize="hasRole('ROLE_ADMIN')" action="/producers" method="POST">
                <label>New Producer</label>
                <div th:replace="~{form::newProducer}">...</div>
                <button type="submit">Add producer</button>
            </form>
            <table style="text-align: center" border="1" width="40%">
                <thead>
                    <tr>
                        <th style="text-align: center">id</th>
                        <th style="text-align: center">name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producer : ${producers}">
                        <td th:text="${producer.id}"></td>
                        <td th:text="${producer.name}"></td>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <td>
                                <button th:edit-url="@{/producers/update(id=${producer.id})}"
                                        onclick="location.href=this.getAttribute('edit-url')">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button th:del-url="@{/producers/delete(id=${producer.id})}"
                                        onclick="location.href=this.getAttribute('del-url')">
                                    Delete
                                </button>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div><br>
    </div>
</body>
</html>

